/*
 * Project:         DrillBit
 * Date Started:    July 10, 2014
 * 
 * Module:          FractionDrillActivity.css
 * Author           George Keith Watson
 * Date Started:    July 10, 2014
 * Copyright:       (c) Copyright 2014, irrevocable inter-vivos trust of Author, d.b.a. modelSoftTech
 * Development:
*/
/* 
    Created on : Jul 10, 2014, 7:30:10 AM
    Author     : George Keith Watson
*/

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian, rgba( 155, 155, 155, 0.5 ), 0, 0, 0, 1 );
}

#textFractionDrill  {
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box, rgba( 0, 0, 0, 0.7 ), 6, 0.0, 0, 2 );
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color:linear-gradient( #61a2b1, #2A5058 );
    -fx-effect: dropshadow( three-pass-box, rgba( 0, 0, 0, 0.6 ), 5, 0.0, 0, 1 );
}
.button:hover   {
    -fx-background-color:linear-gradient( #2A5058, #61a2b1 );
}

#toggleButtonHideDecimal   {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color:linear-gradient( #e6e6fa, #2A5058 );
    -fx-effect: dropshadow( three-pass-box, rgba( 0, 0, 0, 0.6 ), 5, 0.0, 0, 1 );
}

#toggleButtonHideLanguage   {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color:linear-gradient( #e6e6fa, #2A5058 );
    -fx-effect: dropshadow( three-pass-box, rgba( 0, 0, 0, 0.6 ), 5, 0.0, 0, 1 );
}

#toggleButtonHideMixed   {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color:linear-gradient( #e6e6fa, #2A5058 );
    -fx-effect: dropshadow( three-pass-box, rgba( 0, 0, 0, 0.6 ), 5, 0.0, 0, 1 );
}

#toggleButtonHideReduced   {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color:linear-gradient( #e6e6fa, #2A5058 );
    -fx-effect: dropshadow( three-pass-box, rgba( 0, 0, 0, 0.6 ), 5, 0.0, 0, 1 );
}

#toggleButtonHideDecimal:hover   {
    -fx-background-color:linear-gradient( #2A5058, #e6e6fa );
}

#toggleButtonHideLanguage:hover   {
    -fx-background-color:linear-gradient( #2A5058, #e6e6fa );
}

#toggleButtonHideMixed:hover   {
    -fx-background-color:linear-gradient( #2A5058, #e6e6fa );
}

#toggleButtonHideReduced:hover   {
    -fx-background-color:linear-gradient( #2A5058, #e6e6fa );
}

#listViewNumerator   {
    -fx-text-fill: lightsteelblue;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color:linear-gradient( #e6e6fa, #2A5058 );
    -fx-effect: dropshadow( three-pass-box, rgba( 0, 0, 0, 0.6 ), 5, 0.0, 0, 1 );
}

#listViewDenominator   {
    -fx-text-fill: lightsteelblue;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color:linear-gradient( #e6e6fa, #2A5058 );
    -fx-effect: dropshadow( three-pass-box, rgba( 0, 0, 0, 0.6 ), 5, 0.0, 0, 1 );
}

#listViewNumerator:hover   {
    -fx-background-color:linear-gradient( #2A5058, #e6e6fa  );
}

#listViewDenominator:hover   {
    -fx-background-color:linear-gradient( #2A5058, #e6e6fa );
}


